@media screen and (max-width:768px) {

    /**contenu du site*/
    .page {
        /**classe de debug à supprimer*/
        min-height: 200px;
        padding-top: 35px;
        padding-bottom: 55px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        width: 100vw;
    }

}